<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Top 10 Express Table Designs - Smashing Magazine Source</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head>
<body>
<table id="hor-minimalist-a">
    <thead>
        <tr>
            <th>Date</th>
            <th>Systolic</th>
            <th>Diastolic</th>
            <th>Pulse</th>
        </tr>
    </thead>
    <tbody>
        {% for row in press_data %}
            <tr>
                {% for th in row %}
                    <td>{{ th }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
    </tbody>
</table>
</body>
